@font-face {
    font-family: Fraunces;
    src: url(./fonts/Fraunces_9pt-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-Regular.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;

    background-color: rgb(146, 146, 139);

    height: 100vh;
    width: 100vw;

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.card {
    height: 300px;
    width: 410px;

    background-color: #ffff;

    margin: auto;

    border-radius: 10px;
    overflow: hidden;
}

.card .parfumeDesktopImg {
    height: 300px;
    width: 200px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.parfumePhoneImg {
    display: none;
}

.card .title {
    font-family: 'Montserrat';
    font-size: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;

    color: hsl(30, 38%, 92%);

    margin-top: -285px;
    margin-left: 215px;
}

.card .parfumeName {
    font-family: 'Fraunces';
    font-size: 20px;

    width: 160px;

    margin-top: 0px;
    margin-left: 215px;
}

.card .parfumeDescription {
    font-family: 'Montserrat';
    font-size: 12px;

    color: hsl(228, 12%, 48%);

    position: absolute;
    width: 188px;

    margin-left: 215px;
}

.card .Price {
    font-family: 'Fraunces';
    font-size: 25px;

    color: hsl(158, 36%, 37%);

    position: absolute;
    margin-left: 220px;
    margin-top: 85px;
}

.card .priceHasped {
    font-family: 'Fraunces';
    font-size: 15px;
    text-decoration: line-through;

    color: hsl(228, 12%, 48%);

    position: absolute;
    margin-left: 325px;
    margin-top: 92px;
}

.card .addCartButon {
    font-family: 'Montserrat';

    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    border-color: transparent;

    height: 35px;
    width: 160px;

    margin-top: 125px;
    margin-left: 230px;

    border-radius: 7px;

    cursor: pointer;
}

.card .addCartButon:hover {
    background-color: hsl(157, 42%, 14%);

    transition-duration: 0.4;
}

.cartImg {
    position: absolute;
    margin-left: 53px;
    margin-top: 262px;

}

@media (max-width: 375px) {

.parfumeDesktopImg {
    display: none;
}

.card {
    height: 500px;
    width: 320px;

    background-color: #ffff;

    margin: auto;

    border-radius: 10px;
    overflow: hidden;
}

.card .parfumePhoneImg {
    display: flex;
    width: 320px;
    height: 200px;
}

.card .title {
    font-family: 'Montserrat';
    font-size: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;

    color: hsl(30, 38%, 92%);

    margin-top: 15px;
    margin-left: 30px;
}

.card .parfumeName {
    font-family: 'Fraunces';
    font-size: 20px;

    width: 200px;

    margin-left: 30px;
}

.card .parfumeDescription {
    font-family: 'Montserrat';
    font-size: 15px;

    color: hsl(228, 12%, 48%);

    position: absolute;
    width: 280px;

    margin-left: 30px;
}

.card .Price {
    font-family: 'Fraunces';
    font-weight: 500, 700;
    font-size: 30px;

    color: hsl(158, 36%, 37%);

    position: absolute;
    margin-left: 30px;
    margin-top: 95px;
}

.card .priceHasped {
    font-family: 'Fraunces';
    font-weight: 500, 700;
    font-size: 15px;
    text-decoration: line-through;

    color: hsl(228, 12%, 48%);

    position: absolute;
    margin-left: 155px;
    margin-top: 102px;
}

.card .addCartButon {
    font-family: 'Montserrat';

    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    border-color: transparent;

    height: 40px;
    width: 250px;

    margin-top: 145px;
    margin-left: 40px;

    border-radius: 7px;

    cursor: pointer;
}

.cartImg {
    position: absolute;
    margin-left: 105px;
    margin-top: 255px;
}

}